.task-container{
    background-color: rgb(255, 255, 255) !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.task-cards{
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgb(240, 236, 255) !important;
}